[Unit]
Description=Minecraft Server
After=network.target

[Service]
EnvironmentFile=/home/minecraft/minecraft-manager/minecraft.conf
WorkingDirectory=/home/minecraft/server
KillMode=none
PrivateUsers=true
User=minecraft
Group=minecraft
UMask=0027
ProtectHome=false
ProtectSystem=full
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true

Restart=on-failure
RestartSec=60s

ExecStart=java -server -Xms${JAVA_XMS} -Xmx${JAVA_XMX} ${JAVA_OPTS} -jar minecraft_server.jar nogui
ExecReload=mcrcon -w 5 reload
ExecStop=mcrcon -w 5 "say ${SERVER_STOP_MESSAGE}" save-all stop

[Install]
WantedBy=multi-user.targe
